<footer style="text-align: center; padding: 5px; color: #237cbe; background: #f0f0f0;">
  <p>
    Copyright &copy; 2016
    <%= link_to "Scott Solutions", 'http://timothytscott3.com' %>
  </p>
</footer>
